/* FONTES  */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    color: #32b9cd;
    font-weight: 900;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

/*  */

/* CONTAINER  */

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/*  */

/* NAVBAR */

.header {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-bottom: 2px solid #32b9cd;
    font-family: 'Barlow', sans-serif;
}

.list {
    color: #efb661;
    display: flex;
    font-weight: 900;
    justify-content: space-between;
    width: 350px;
    cursor: pointer;
}

.logoContainer {
    font-size: 14px;
}
/*  */

/* FOOTER  */

footer {
    background-color: #32b9cd;
    padding: 45px 0;
    color: #fff;
}

footer .container {
    justify-content: center;
}

/*  */

/* LINK  */
.list a {
    color: #efb661;
    text-decoration: none;
}

.agora {
    font-weight: bold;
}