<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/global.style.css">
    <link rel="stylesheet" href="../style/login.style.css">
    <title>Cadastro | AquaTec</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logoContainer">
                <h1 class="logo">Aquatec</h1>
            </div>
            <div class="nav">
                <ul class="list">
                    <a href="../../index.html"><li>Inicial</li></a>
                    <a href="#"><li>Simulador</li></a>
                    <a href="login.html"><li class="agora">Login</li></a>
                    <a href="#"><li>Cadastro</li></a>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="banner">
            <div class="container">
                <div class="caixaFormulario">
                    <h2>Bem-vindo!</h2>
                    <div class="campo">
                        <label for="nomeFor">Nome:</label>
                        <input type="text" name="nomeFor" id="nomeFor" class="inputFormulario" placeholder="Seu nome">
                    </div>
                    <div class="campo">
                        <label for="emailFor">Email:</label>
                        <input type="email" name="emailFor" id="emailFor" class="inputFormulario" placeholder="meuemail@provedor.com">
                    </div>
                    <div class="campo">
                        <label for="senhaFor">Senha:</label>
                        <input type="password" name="senhaFor" id="senhaFor" class="inputFormulario" placeholder="********">
                    </div>
                    <div class="campo">
                        <label for="confirmaSenhaFor">Confirmação de senha:</label>
                        <input type="password" name="confirmaSenhaFor" id="confirmaSenhaFor" class="inputFormulario" placeholder="********">
                    </div>
                    <button>Cadastrar</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>Feito com amor por um aluno &hearts; SPTech &copy; 2022</p>
        </div>
    </footer>
</body>
</html>